<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.bundle.css" />
    <link rel="stylesheet" href="TeddySwap.UI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/BlazorTime/blazorTime.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="dist/app.bundle.js"></script>
    <script>
        window.onload = () => {
            let intId = setInterval(() => {
                try {
                    if(Blazor.defaultReconnectionHandler !== null) {
                        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
                            document.location.reload(); 
                        }
                        clearInterval(intId);
                    }
                }
                catch (e) {
                    console.log(e);
                }
            }, 1000);
        };
    </script>
</body>

</html>
