@using TeddySwap.UI.Pages

@inherits TeddySwapBasePage

@if (CurrentlySelectedToken is not null)
{
    <MudChip
        Disabled="Disabled"
        OnClick="OpenTokenSelectionDialog"
        Color="Color.Primary"
        Class="!m-0"
    >
        <div class="flex items-center gap-2">
            <MudImage Src=@CurrentlySelectedToken.Logo Height="24" Width="24" />
            <MudText class="font-semibold">@CurrentlySelectedToken.Name</MudText>
        </div>
    </MudChip>
}
else
{
    <MudChip
        Disabled="Disabled"
        OnClick="OpenTokenSelectionDialog"
        Color="Color.Primary"
        Class="!m-0 font-semibold"
    >
        Select Token
    </MudChip>
}
