<MudDialog Class="w-[92%] max-w-[400px] pb-4 text-center">
    <TitleContent>
        <div class="flex items-center justify-between">
            <MudText Typo="Typo.h6">Transaction Submitted</MudText>
            <MudIconButton
                OnClick="@(() => MudDialog?.Close())"
                Class="justify-self-end block"
                Icon="@Icons.Material.Filled.Close"
                aria-label="close"
            >
            </MudIconButton>
        </div>
    </TitleContent>
    <DialogContent>
        <MudIcon
            Class="!text-[110px]"
            Icon="@Icons.Material.Filled.CheckCircleOutline"
            Color="Color.Success"
            Size="Size.Large"
        />
        <MudLink Class="block" Href=@TransactionLink>View on explorer</MudLink>
    </DialogContent>
</MudDialog>
